/* 상단바 */
header {
  padding: 74px;
  display: flex;
  justify-content: space-between;
  background-color: #96B8D7;
}
.top-bar{

}
/*로고 이미지 넣기*/
.logo-img {
display: flex;
justify-content: flex-start;
text-align: center;
}
/* 메인 */
.menu01-ul{
display: flex;
justify-content: flex-end;
gap: 28px;
}
.m01-item {
  font-size: 24px;
  font-weight: 700;
}
.m01-item:hover {
  font-size: 24px;
  text-decoration: underline;
}
/* 전화번호 */
.user-nav {
  display: flex;
  justify-content: flex-end ;
  gap: 40px;
font-size: 40px;
font-weight: 700;
}
.user-ul{
  gap: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}
/* 전화번호에 들어가는 메뉴 버튼 */
.user-item03{
  font-size: 20px;
  font-weight: 400;}
/* 버튼 */
.user-item02>a{
  display: block;
  border-radius: 2.5rem;
  border: 1px solid #000;
  width: 15.1875rem;
  height: 4.3125rem;
  transition: 0.3S;
}

.user-item02>a:hover {
  display: block;
  border-radius: 2.5rem;
  border: 1px solid #000;
  width: 15.1875rem;
  height: 4.3125rem;
  background-color: rgb(65, 65, 255);
}
/* 넘버 box 안에 메뉴  */
.mn02 {
  font-size: 20px;
  font-weight: 200 ;
}
